@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #ced4da;
  --clr-neutral: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #f8f9fa;
}

.header {
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding-top: 2em;
}

.selection:not(.active) {
  display: none;
}

.container {
  padding: 1.5em 3em;
  max-width: 1300px;
  margin: 0 auto;
}

.nav {
  background-color: #4a4e69;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav select {
  padding: .5em 1em;
  border-radius: 1.5em;
  border: none;
  background-color: #f8f9fa;
}

.selection input {
  padding: .5em 1em;
  border: 1px solid black;
  background-color: #f8f9fa
}

.selection select {
  padding: .5em 1em;
  background-color: #f8f9fa;
  border: 1px solid black;
}

.selection button {
  padding: .5em 1em;
  border: 1px solid black;
}

.edit-btn {
  cursor: pointer;
}

.update-btn {
  margin-right: .5em;
}

/* table styling */

.table {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2em;
}

.table thead {
  grid-column: 1 / -1;
  grid-row: 1;
}

.table tbody {
  grid-column: 1 / -1;
  grid-row: 2;
}

.table tr {
  grid-column: 1 / -1;
}

.table td,
.table th {
  padding: 0.5em;
}

.rows:nth-child(even) {
  background-color: var(--clr-primary);
}

.rows:nth-child(odd) {
  background-color: var(--clr-neutral);
}