@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #ced4da;
  --clr-neutral: white;
}

body {
  font-family: 'Caladea', serif;
  font-weight: 400;
  text-align: center;
  background-color: #f5ebe0;
  color: #1d3557;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
}

.header {
  font-size: 2rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  margin: 0 1em;
}

li {
  list-style: none;
}

/* nav-bar */
.nav-container {
  margin-top: 2em;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav select {
  padding: .5em 1em;
  border-radius: 1.5em;
  border: none;
  background-color: #f8f9fa;
}

.hamburger-container {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: #edede9;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s linear;
  overflow: hidden;
}

.hamburger-container.active {
  background-color: #de0611;
}

.container .menu {
  position: relative;
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .line {
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 6px;
  background-color: #2c3e50;
  transition: all 0.4s linear;
}

.menu .line.one {
  top: 15px;
}

.hamburger-container.active .line.one {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
}

.menu .line.three {
  bottom: 15px;
}

.menu .line.two {
  left: 0;
  opacity: 1;
}

.hamburger-container.active .line.two {
  left: -100%;
  opacity: 0;
  background-color: #de0611;
}

.hamburger-container.active .line.three {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
  background-color: #fff;
}

/* form */
.selection input {
  padding: .5em 1em;
  border: 1px solid black;
  background-color: #f8f9fa
}

.selection select {
  padding: .5em 1em;
  background-color: #f8f9fa;
  border: 1px solid black;
}

.selection button {
  padding: .5em 1em;
  border: 1px solid black;
}

.edit-btn {
  cursor: pointer;
}

.update-btn {
  margin-right: .5em;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding-top: 2em;
}

.selection:not(.active) {
  display: none;
}

/* table*/
.table {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2em;
}

.table thead {
  grid-column: 1 / -1;
  grid-row: 1;
}

.table tbody {
  grid-column: 1 / -1;
  grid-row: 2;
}

.table tr {
  grid-column: 1 / -1;
}

.table td,
.table th {
  padding: 0.5em;
}

.rows:nth-child(even) {
  background-color: var(--clr-primary);
}

.rows:nth-child(odd) {
  background-color: var(--clr-neutral);
}

.table-selection {
  margin: 4em auto -2em;
  padding-left: 1em;
  justify-content: flex-start;
  gap: 1em;
}

.table-person label {
  margin-left: .3em;
}

/* icons */
.icons {
  margin-top: 13rem;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.icons h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.icons button {
  border: none;
  background: none;
  cursor: pointer;
}

.add-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 45%;
  max-width: 700px;
  overflow: auto;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 2em;
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

.add-container h3 {
  font-size: 1.8rem;
}

.person-type-container {
  width: 100%;
}

.person-type {
  justify-content: flex-start;
  gap: .5em;
}

.person label {
  margin-left: .2em;
}

.form {
  flex-wrap: wrap;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  text-align: left;
  display: block;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
  width: 100%;
}


.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

#submit:hover {
  background: rgb(88, 56, 250);
}

#cancel:hover {
  background: rgb(182, 4, 4);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

input[type=number] {
  -moz-appearance: textfield;
}

.column button {
  border-radius: 1em;
}

#cancel {
  background-color: rgb(198, 16, 16);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }

  .add-container {
    top: 52%;
  }
}


/* Calendar */
/* .calendar-container {
  padding: 1em 1em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  margin: 5em auto;
  max-width: 1100px;
} */

/* .calendar-box {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .calendar-box {
    width: 100%;
  }

  .calendar-container {
    padding: 1em 0;
    margin: 5em 2em;
  }
}

@media (max-width: 1100px) {
  .calendar-container {
    margin: 5em 1em;
  }

  .calendar-box {
    width: 90%;
  }
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-icons {
  display: flex;
  gap: 3em;
}

header .calendar-icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.calendar-icons span:last-child {
  margin-right: -10px;
}

header .calendar-icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  height: 5em;
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -130%);
}

.days li.active::before {
  background: #9B59B6;
}

.days li.reserved::before {
  background: green;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
} */


/* .calendar-container {
  flex-direction: column;
  justify-content: center;
  background: white;
  display: inline-block;
  margin-top: 5em;
}
.calendar {
  padding: 2em 3em;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.day-container {
  height: 5em;
  align-items: center;
  text-align: center;
}

.days li {
  align-items: center;
  text-align: center;
}

.days:nth-child(1){
  grid-row-gap: 1rem;
} */

/* Calendar */
.cld-main {
  width: 660px;
}

.cld-main a {
  color: #7B00FF;
}

.cld-datetime {
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}

.cld-datetime .today {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}

.cld-nav {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.cld-nav:hover {
  cursor: pointer;
}

.cld-nav:hover svg {
  fill: #666;
}

.cld-rwd {
  float: left;
}

.cld-fwd {
  float: right;
}

.cld-nav svg:hover {}

.cld-labels,
.cld-days {
  padding-left: 0;
}

.cld-label,
.cld-day {
  box-sizing: border-box;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}

.cld-day {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  padding: 5px;
  height: 66px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.cld-day.clickable:hover {
  cursor: pointer;
}

.cld-day.today {
  border: 1px solid #7B00FF;
}

.cld-day.disableDay {
  opacity: 0.5;
}

.cld-day.nextMonth,
.cld-day.prevMonth {
  opacity: 0.33;
}

.cld-number {
  margin: 0;
  text-align: left;
}

.cld-title {
  font-size: 10px;
  display: block;
  margin: 0;
  font-weight: normal;
}

.cld-day:hover {
  background: #eee;
}

.cld-number.eventday {
  font-weight: bold;
}

.cld-number.eventday:hover {
  background: #eee;
}

.today .cld-number.eventday:hover {}