@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 820px) {
  html {
    font-size: 50%;
  }
}

:root {
  --Dark-Orange: #ffb048;
  --Light-Orange: #ffb656e9;
  --Lighter-Orange: #ffbb6239;
  --Yellow: #ffc926;
  --Black: #000000;
  --Navy-Blue: #286090;
  --Grey: #494949;
  --Light-Grey: #9197b68e;
  --White: #ffffff;
  --Off-White: #f2f3f7;
}

body {
  font-size: 1.8rem;
  font-family: "Caladea", serif;
  color: var(--Black);
  background-color: var(--Off-White);
  letter-spacing: 0.07rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  top: 0;
  gap: 1em;
  align-items: center;
  background-color: var(--White);
  height: 100vh;
  width: 100%;
  font-size: 3rem;
  max-width: 190px;
  text-align: center;
}
.nav .nav-logo {
  display: flex;
  margin-top: 2em;
  align-items: center;
  gap: 0.2em;
}
.nav .nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav .nav-links a,
.nav .nav-links li {
  color: var(--Grey);
  margin-top: 0.5em;
  display: block;
}
.nav .nav-links ul {
  width: 100%;
}
.nav .nav-links li:hover:not(.nav-dropdown) > a {
  background-color: var(--Light-Orange);
  color: var(--White);
}
.nav .nav-links .active {
  background-color: var(--Dark-Orange);
  color: var(--White);
  font-weight: 700;
}
.nav .nav-dropdown-menu {
  min-width: max-content;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s;
}
.nav .nav-dropdown-menu li {
  font-size: 2.2rem;
}
.nav .nav-dropdown:hover .nav-dropdown-menu,
.nav .nav-dropdown:focus .nav-dropdown-menu,
.nav .nav-dropdown:focus-within .nav-dropdown-menu {
  max-height: 200px;
}
.nav .fas {
  color: black;
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
}
.nav input[type=checkbox] {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav {
    height: 15%;
    width: 100vw;
    max-height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7em 1.7em 1.5em 1.1em;
    max-width: none;
    align-items: center;
    z-index: 100;
  }
  .nav .nav-logo {
    margin: 0;
  }
  .nav .nav-checkbox i {
    display: block;
  }
  .nav .nav-links {
    position: fixed;
    top: -100%;
    right: 0;
    background: var(--White);
    height: 100vh;
    width: 100%;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding-top: 9em;
    z-index: -1;
  }
  .nav .nav-links ul {
    position: relative;
    top: -40%;
  }
  .nav .nav-links li {
    margin-top: 0.7em;
  }
  .nav #nav-toggle:checked ~ .nav-checkbox i::before {
    content: "\f00d";
  }
  .nav #nav-toggle:checked ~ .nav-links {
    top: 5%;
  }
}

.overview {
  margin: 8em 1em 0 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  text-align: center;
}
.overview div {
  width: 100%;
  padding: 1em;
  background-color: var(--White);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.overview div p {
  margin-top: 1em;
}
.overview input {
  width: 100%;
  border: none;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .overview {
    margin: 115px 1em;
  }
}

.add-new {
  margin: 11.2em 1em 0 205px;
  padding: 2em;
  background-color: var(--White);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.add-new .input-row {
  display: flex;
  column-gap: 1em;
  width: 100%;
}
.add-new .input-row button {
  margin-top: 1.5em;
  height: 3em;
  width: 100%;
  font-weight: 700;
  color: var(--White);
  border-radius: 0.3em;
  border: none;
}
.add-new .input-row #submit-btn {
  background-color: var(--Yellow);
}
.add-new .input-row #cancel-btn {
  background-color: var(--Light-Grey);
}
.add-new .address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.add-new .address .input:nth-child(2) {
  margin-top: 2.35em;
}
.add-new .input {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
  gap: 0.3em;
}
.add-new .input input {
  height: 3em;
  border-radius: 0.3em;
  padding-left: 1em;
  outline: none;
  border: 1px solid #ddd;
  color: var(--Grey);
}
.add-new .input input:focus {
  box-shadow: 0 1px 0 var(--Grey);
}
@media screen and (max-width: 768px) {
  .add-new {
    margin: 115px 1.5em;
  }
  .add-new .input-row {
    flex-direction: column;
  }
  .add-new .address {
    grid-template-columns: repeat(1, 1fr);
  }
  .add-new .address .input:nth-child(2) {
    margin-top: 1em;
  }
}

.calendar {
  margin: 5em 1em 1em 205px;
  background-color: var(--Off-White);
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.calendar .teacher {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--White);
  font-size: 2rem;
}
.calendar .teacher-info p:not(:first-child) {
  margin-top: 0.5em;
}
.calendar .teacher-select select {
  border: none;
  border-radius: 0.3em;
  text-align: center;
  padding: 1em;
}
.calendar .teacher-select select option:nth-child(1) {
  background-color: var(--Dark-Orange);
}
.calendar .rbc-btn-group > button {
  font-family: "Caladea", sans-serif;
  font-size: 1.5rem;
  height: 2em;
}
.calendar .rbc-calendar {
  margin-top: 1em;
  border: 1px solid rgb(199, 199, 199);
  background-color: var(--White);
  padding: 2.5em;
}
.calendar .rbc-btn-group > .rbc-active,
.calendar .rbc-btn-group > .rbc-active:focus-within {
  color: var(--White);
  background-color: var(--Dark-Orange);
  font-weight: 700;
}
.calendar .rbc-label {
  font-size: 1.5rem;
}
.calendar .rbc-toolbar-label {
  font-size: 2.5rem;
}
.calendar .rbc-agenda-empty {
  font-size: 2rem;
}
.calendar .rbc-agenda-table {
  font-size: 1.8rem;
}
.calendar .rbc-toolbar {
  margin-bottom: 1.5em;
}
.calendar .rbc-day-bg.rbc-today {
  background-color: var(--Lighter-Orange);
}
.calendar .rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: var(--Lighter-Orange);
}
.calendar .rbc-header.rbc-today {
  background-color: var(--Lighter-Orange);
}
.calendar .rbc-current-time-indicator {
  background-color: var(--Black);
}
.calendar .rbc-event,
.calendar .rbc-event-content,
.calendar .rbc-event.rbc-selected {
  background-color: var(--Navy-Blue);
  border: none;
}
@media screen and (max-width: 768px) {
  .calendar {
    margin: 115px 1em;
  }
  .calendar .rbc-toolbar-label {
    margin: 0.5em 0;
  }
  .calendar .rbc-calendar {
    padding: 1em;
  }
}

.data-table-teachers {
  margin: 5em 1em 0 205px;
  background-color: var(--White);
  text-align: center;
  border: 0.5px solid var(--Light-Grey);
  padding: 1.2em 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
  font-size: 1.6rem;
}
.data-table-teachers table {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(250px, 1fr) minmax(250px, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
}
.data-table-teachers thead,
.data-table-teachers tbody,
.data-table-teachers tr {
  display: contents;
}
.data-table-teachers th,
.data-table-teachers td {
  padding: 0.5em;
}
.data-table-teachers tr:nth-child(even) td {
  background: var(--Off-White);
}
@media screen and (max-width: 768px) {
  .data-table-teachers {
    margin: 115px 1em;
  }
}

.data-table-students {
  margin: 5em 1em 0 205px;
  background-color: var(--White);
  text-align: center;
  border: 0.5px solid var(--Light-Grey);
  padding: 1.2em 0;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
}
.data-table-students table {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr);
}
.data-table-students thead,
.data-table-students tbody,
.data-table-students tr {
  display: contents;
}
.data-table-students th,
.data-table-students td {
  padding: 0.5em;
}
.data-table-students tr:nth-child(even) td {
  background: var(--Off-White);
}
@media screen and (max-width: 768px) {
  .data-table-students {
    margin: 115px 1em;
  }
}

/*# sourceMappingURL=style.css.map */
