@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    font-size: 56.25%;
  }

  @media screen and (max-width: 820px) {
    font-size: 50%;
  }
}

// General Styling
:root {
  --Dark-Orange: #ffb048;
  --Light-Orange: #ffb656e9;
  --Lighter-Orange: #ffbb6239;
  --Yellow: #ffc926;
  --Red: #d00000;

  --Black: #000000;
  --Blue: #003566;
  --Dark-Blue: #001d3d;
  --Darkest-Blue: #000814;
  --Grey: #494949;
  --Light-Grey: #9197b68e;

  --White: #ffffff;
  --Off-White: #f2f3f7;
}

body {
  font-size: 1.8rem;
  font-family: 'Caladea', serif;
  color: var(--Black);
  background-color: var(--Off-White);
  letter-spacing: 0.07rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  cursor: pointer;
}

button {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  color: var(--White);
  padding: 1em;
  border: none;
  border-radius: 0.3em;
}

button:active {
  transform: translateY(2.5px);
}

input {
  padding: 1em;
  border-radius: 0.3em;
  outline: none;
  border: 1px solid #ddd;
  color: var(--Grey);
}

input:focus {
  box-shadow: 0 1px 0 var(--Grey);
}

.submit-btn {
  background-color: var(--Blue);
}

.cancel-btn {
  background-color: var(--Light-Grey);
}

.submit-btn:active {
  background-color: var(--Yellow);
}

.cancel-btn:active {
  background-color: var(--Red);
}

// Scrollbar Styling
* {
  scrollbar-width: thin;
  scrollbar-color: var(--Light-Grey) var(--White);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--White);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Light-Grey);
  border-radius: 8px;
  border: 5px none var(--Light-Grey);
}

// Navbar Styling
.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  top: 0;
  gap: 0.7em;
  align-items: center;
  background-color: var(--White);
  height: 100vh;
  width: 100%;
  font-size: 2.5rem;
  max-width: 190px;
  text-align: center;

  .nav-logo {
    display: flex;
    margin-top: 0.7em;
    align-items: center;
    gap: 0.2em;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    width: 100%;

    a,
    li {
      color: var(--Grey);
      margin-top: 0.5em;
      display: block;
    }

    ul {
      width: 100%;
    }

    li:hover:not(.nav-dropdown) > a {
      background-color: var(--Light-Orange);
      color: var(--White);
    }

    .active {
      background-color: var(--Dark-Orange);
      color: var(--White);
      font-weight: 700;
    }
  }

  .nav-dropdown-menu {
    min-width: max-content;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;

    li {
      font-size: 2.2rem;
    }
  }

  .nav-dropdown:hover .nav-dropdown-menu,
  .nav-dropdown:focus .nav-dropdown-menu,
  .nav-dropdown:focus-within .nav-dropdown-menu {
    max-height: 200px;
  }

  .fas {
    color: black;
    font-size: 3.5rem;
    cursor: pointer;
    display: none;
  }

  input[type='checkbox'] {
    display: none;
  }

  @media screen and (max-width: 768px) {
    height: 15%;
    width: 100vw;
    max-height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7em 1.7em 1.5em 1.1em;
    max-width: none;
    align-items: center;
    z-index: 100;

    .nav-logo {
      margin: 0;
    }

    .nav-checkbox i {
      display: block;
    }

    .nav-links {
      position: fixed;
      top: -100%;
      right: 0;
      background: var(--White);
      height: 100vh;
      width: 100%;
      align-items: center;
      transition: all 0.3s ease-in-out;
      padding-top: 9em;
      z-index: -1;

      ul {
        position: relative;
        top: -40%;
      }
      li {
        margin-top: 0.7em;
      }
    }

    #nav-toggle:checked ~ .nav-checkbox i::before {
      content: '\f00d';
    }

    #nav-toggle:checked ~ .nav-links {
      top: 5%;
    }
  }
}

// Home Styling
.overview {
  margin: 1em 1em 1em 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  text-align: center;

  div {
    width: 100%;
    padding: 1em;
    background-color: var(--White);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    p {
      margin-top: 1em;
    }
  }

  input {
    width: 100%;
    border: none;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    margin: 115px 1em 1.5em;
  }
}

// Add New Styling
.add-new {
  margin: 1em 1em 1em 205px;
  padding: 2em;
  background-color: var(--White);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: auto;

  .input-row {
    display: flex;
    column-gap: 1em;
    width: 100%;

    button {
      margin-top: 1.5em;
      width: 100%;
    }
  }

  .address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .input:nth-child(2) {
      margin-top: 2.35em;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
    gap: 0.3em;
  }

  @media screen and (max-width: 768px) {
    margin: 115px 1em 1.5em;

    .input-row {
      flex-direction: column;

      button {
        font-size: 1.5rem;
      }
    }

    .address {
      grid-template-columns: repeat(1, 1fr);

      .input:nth-child(2) {
        margin-top: 1em;
      }
    }
  }
}

// Calendar Styling
.calendar {
  margin: 1em 1em 1em 205px;
  background-color: var(--Off-White);
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;

  .teacher {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--White);
    font-size: 2rem;
    gap: 1em;
  }

  .teacher-info {
    p:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  select {
    border: none;
    border-radius: 0.3em;
    text-align: center;
    padding: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    outline: none;
    background-color: var(--Darkest-Blue);
    color: var(--White);
    font-weight: 700;
  }

  .teacher-select {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
      background-color: var(--Blue);
      padding: 1em;
    }

    button:active {
      background-color: var(--Yellow);
    }

    option {
      font-weight: 700;
    }

    option:nth-child(1) {
      display: none;
    }
  }

  .create-schedule {
    display: none;
    position: fixed;
    background-color: white;
    right: -265px;
    top: 185px;
    transform: translate(-50%, -50%);
    z-index: 500;
    padding: 2em;
    border: 1px solid var(--Light-Grey);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }

    .input-container {
      display: flex;
      gap: 1em;
    }

    input {
      padding: 0.5em;
    }
  }

  .schedule-select-container {
    display: flex;
    gap: 1em;

    select {
      width: 100%;
      text-align: center;
      background-color: var(--Dark-Blue);
      padding: 0.5em;
    }

    option:nth-child(1) {
      display: none;
    }
  }

  .schedule-button-container {
    display: flex;
    gap: 1em;

    button {
      width: 100%;
      box-shadow: none;
      padding: 0.5em;
    }
  }

  .rbc-btn-group > button {
    font-family: 'Caladea', sans-serif;
    font-size: 1.5rem;
    height: 2em;
  }

  .rbc-calendar {
    margin-top: 1em;
    border: 1px solid rgb(199, 199, 199);
    background-color: var(--White);
    padding: 2.5em;
    z-index: 50;
  }

  .rbc-btn-group > .rbc-active,
  .rbc-btn-group > .rbc-active:focus-within {
    color: var(--White);
    background-color: var(--Dark-Orange);
    font-weight: 700;
  }

  .rbc-label {
    font-size: 1.5rem;
  }

  .rbc-toolbar-label {
    font-size: 2.5rem;
  }

  .rbc-agenda-empty {
    font-size: 2rem;
  }

  .rbc-agenda-table {
    font-size: 1.8rem;
  }

  .rbc-toolbar {
    margin-bottom: 1.5em;
  }

  .rbc-day-bg.rbc-today {
    background-color: var(--Lighter-Orange);
  }
  .rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
    background-color: var(--Lighter-Orange);
  }
  .rbc-header.rbc-today {
    background-color: var(--Lighter-Orange);
  }

  .rbc-current-time-indicator {
    background-color: var(--Black);
  }

  .rbc-event,
  .rbc-event-content,
  .rbc-event.rbc-selected {
    background-color: var(--Blue);
    border: none;
  }

  @media screen and (max-width: 768px) {
    margin: 115px 1em 1.5em;

    .teacher {
      flex-direction: column-reverse;
    }

    .teacher-info {
      font-size: 1.6rem;
    }

    .teacher-select {
      display: flex;
      flex-direction: row;

      button {
        font-size: 1.5rem;
        width: 100%;
      }
      select {
        font-size: 1.5rem;
        width: 100%;
      }
    }

    .rbc-toolbar-label {
      margin: 0.5em 0;
    }

    .rbc-toolbar {
      padding-top: 0.5em;
    }

    .rbc-calendar {
      padding: 1em;
    }
  }

  @media screen and (max-width: 550px) {
    .rbc-toolbar {
      flex-direction: column;
    }
  }
}

// Table Data Styling
.data-table {
  table {
    thead,
    tbody,
    tr {
      display: contents;
    }

    th {
      margin-bottom: 0.6em;
    }

    td {
      padding: 0.5em;
      height: 100%;
    }

    tr:nth-child(even) td {
      background-color: var(--Off-White);
    }

    tbody tr:hover td {
      background-color: var(--Light-Grey);
    }

    .edit-buttons img:nth-child(1) {
      margin-right: 0.4em;
    }
  }
}

.data-table-teachers {
  margin: 1em 1em 1em 205px;
  background-color: var(--White);
  text-align: center;
  border: 0.5px solid var(--Light-Grey);
  padding: 1.2em 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
  font-size: 1.6rem;

  table {
    display: grid;
    grid-template-columns:
      minmax(120px, 1fr)
      minmax(120px, 1fr)
      minmax(auto, 1fr)
      minmax(120px, 1fr)
      minmax(250px, 1fr)
      minmax(250px, 1fr)
      minmax(auto, 1fr)
      minmax(120px, 1fr);
    align-items: end;
  }

  @media screen and (max-width: 768px) {
    margin: 115px 1em 1.5em;
  }
}

.data-table-students {
  margin: 1em 1em 1em 205px;
  background-color: var(--White);
  text-align: center;
  border: 0.5px solid var(--Light-Grey);
  padding: 1.2em 0;
  overflow: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;

  table {
    display: grid;
    grid-template-columns:
      minmax(120px, 1fr)
      minmax(120px, 1fr)
      minmax(120px, 1fr)
      minmax(120px, 1fr)
      minmax(auto, 1fr)
      minmax(130px, 1fr)
      minmax(170px, 1fr)
      minmax(170px, 1fr)
      minmax(100px, 1fr)
      minmax(120px, 1fr)
      minmax(120px, 1fr);
    align-items: end;
  }

  @media screen and (max-width: 768px) {
    margin: 115px 1em 1.5em;
  }
}
